*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: wheat;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 1rem 4rem;
}
.restartBtn{
    width: 10rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
.between{
    font-size: 2rem;
}
.name{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    /* background-color: aquamarine; */
    background-color: orangered;
}
hr{
    height: .2rem;
    background-color: magenta;
    margin-top:3rem ;
}
.hiddenNumber{
    background-color: red;
    width: 4rem;
    height: 3rem;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 48%;
    margin-top: -2rem;
}
.container{
    display: flex;
}
.leftContainer{
    margin-top: 8rem;
    width: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    
}
.guess{
    width: 10rem;
    border-radius: 10%;
    height: 4rem;
    font-size: 3rem;
    padding: 1.5rem;
}
.check{
    margin-top: 2rem;
    margin-left: 1.5rem;
    border-radius: 15%;
    width: 7rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
.rightContainer{
    font-size: 2.5rem;
    /* padding: 5rem; */
    margin-top: 5.5rem;
    margin-left: 10rem;
}
@media (max-width:62.5em) {
    .rightContainer{
        margin-left: 0;
    }
}
@media (max-width:40.625em){
    .container{
        /* margin-top: 25rem; */
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .header{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }
    html{
        font-size: 55%;
    }
    body{
        margin-top: 2rem;
    }
}